<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/room_style.css" />
		<title>入家酒店-房间类型管理</title>
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand">入家酒店</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/room1">房间管理</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/room2">入住</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/room3">退房</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/room4">房间类型<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
			<form action="/quit" class="form-inline my-2 my-lg-0">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出登录</button>
			</form>
		</nav>

		<div>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">房间类型</th>
					<th scope="col">房间价格(每天)</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="type : ${list}">
					<td th:text="${type.getName()}"></td>
					<td th:text="${type.getPrice()}"></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="w-100 fixed-bottom bg-light" style="height: 12%;">
			<div class="card">
				<div class="card-body">
					<form name="form1" method="post">
						<div class="justify-content-around d-flex">
							<input placeholder="类型名称" name="typename"/>
							<input placeholder="每晚价格" name="price">
							<input type="submit" value="添加" onclick="insert()">
							<input type="submit" value="删除" onclick="del()"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			function insert() {
				document.form1.action="insertType";
				document.form1.submit();
			}
			function del() {
				document.form1.action="deleteType";
				document.form1.submit();
			}
		</script>
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>
